* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


html {
    overflow:hidden;
}

input {
    appearance: none;
}

:root {
    --width: 75vh
}

.wrapper {
    margin: 5%;
}

.image-wrapper {
    max-width: var(--width);
    overflow: hidden;
    margin: 0 auto;
}

.slider {
    display: flex;
    transition: 1s;
    min-height: var(--width);
}

.image {
  min-width: 100%;
  border-radius: 1.6em;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-1 {
    background-image: url('./assets/1f7.jpg');
    background-size: var(--width) var(--width);
}

.image-2 {
    background-image: url('./assets/22ad2c40151f0062adc0eb992f4b72ba.jpg');
}

.image-3 {
    background-image: url('./assets/2d479c77bbafe1d5cdf5819f758d4ddb.jpg');
}

.image-4 {
    background-image: url('./assets/49e707b949aa2af12331d36d4b399578.jpg');
}

.image-5 {
    background-image: url('./assets/94c9692ccce00ba68de2b81663889946.jpg');
}

.image-6 {
    background-image: url('./assets/d8fae6b66c05f4e64bcd910a2252afec.jpg');
}


.bottom-panel {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    max-width: var(--width);
    margin: 0 auto;
}

.text-wrapper {
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

.text-box {
    display: flex;
    transition: 0.5s;
    max-height: 100%;
}

.text {
    text-align:start;
    min-width: 50vh;
}

.buttons-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 0 auto;
}

label {
    padding: 1.6em 0.83em;
    cursor: pointer;
}

.button {
    min-width: 1.6em;
    min-height: 1.6em;
    background-color: #fff;
    border-radius: 0.83em;
    border: 0.16em solid rgb(237, 155, 100);
    cursor: pointer;
    margin: 0.083em;
    padding: 0 0.55em;
    transition: 0.1s;
}

label:hover  .button{
    min-width: 1.83em;
    min-height: 1.83em;
    border-radius: 1.083em;
    background-color: rgb(237, 155, 100);
    margin: 0;
}

label:active .button{
    min-width: 1.3em;
    min-height: 1.3em;
    border-radius: 1.083em;
    background-color: rgb(237, 155, 100);
    margin: 0.25em;
}


#button-1:checked~ .wrapper .slider {
    transform: translateX(0vh);
  }

#button-2:checked~ .wrapper .slider {
  transform: translateX(-75vh);
}

#button-3:checked~ .wrapper .slider {
    transform: translateX(-150vh);
  }

#button-4:checked~ .wrapper .slider {
    transform: translateX(-225vh);
}

#button-5:checked~ .wrapper .slider {
    transform: translateX(-300vh);
}

#button-6:checked~ .wrapper .slider {
    transform: translateX(-375vh);
}




#button-1:checked~ .wrapper .text-box {
    transform: translateX(0vh);
}

#button-2:checked~ .wrapper .text-box {
    transform: translateX(-50vh);
}

#button-3:checked~ .wrapper .text-box {
    transform: translateX(-100vh);
}

#button-4:checked~ .wrapper .text-box {
    transform: translateX(-150vh);
}

#button-5:checked~ .wrapper .text-box {
    transform: translateX(-200vh);
}

#button-6:checked~ .wrapper .text-box {
    transform: translateX(-250vh);
}




#button-1:checked~ .wrapper .button-1 {
    background-color: rgb(237, 155, 100);
}

#button-2:checked~ .wrapper .button-2 {
    background-color: rgb(237, 155, 100);
}

#button-3:checked~ .wrapper .button-3 {
    background-color: rgb(237, 155, 100);
}

#button-4:checked~ .wrapper .button-4 {
    background-color: rgb(237, 155, 100);
}

#button-5:checked~ .wrapper .button-5 {
    background-color: rgb(237, 155, 100);
}

#button-6:checked~ .wrapper .button-6 {
    background-color: rgb(237, 155, 100);
}

@media (max-width: 767px) {
    .bottom-panel {
        flex-direction: column-reverse;
    }

    .buttons-box {
        margin: 0 0 0 0;
    }

    :root {
        --width: 50vh
    }

    #button-1:checked~ .wrapper .slider {
        transform: translateX(0vh);
      }
    
    #button-2:checked~ .wrapper .slider {
      transform: translateX(-50vh);
    }
    
    #button-3:checked~ .wrapper .slider {
        transform: translateX(-100vh);
      }
    
    #button-4:checked~ .wrapper .slider {
        transform: translateX(-150vh);
    }
    
    #button-5:checked~ .wrapper .slider {
        transform: translateX(-200vh);
    }
    
    #button-6:checked~ .wrapper .slider {
        transform: translateX(-250vh);
    }
}
