* {
    box-sizing: border-box;

}

/* html {
    font-size: 10px;
} */

.image-wrapper {
    max-width: 30vh;
    overflow: hidden;
    margin: 0 auto;
}

.slider {
    display: flex;
    max-height: 30vh;
    transform: translateX(-30vh);
    transition: 1s;
}

.image {
  min-width: 30vh;
}

.bottom-panel {
    display: flex;
    text-align: center;
}

.text-box {
   margin: auto 0;
}

.buttons-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 0 auto;
    width: 30%;
}

.control {
    padding: 20px;
}

.button {
    min-width: 20px;
    min-height: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid rgb(237, 155, 100);
    cursor: pointer;
    margin: 1px;
    transition: 0.1s;
}

.control:hover  .button{
    min-width: 22px;
    min-height: 22px;
    border-radius: 11px;
    background-color: rgb(237, 155, 100);
    margin: 0px;
}

.control:active .button{
    min-width: 16px;
    min-height: 16px;
    border-radius: 8px;
    background-color: rgb(237, 155, 100);
    margin: 3px;
}